EasyProcess==0.3
entrypoint2==0.2.1
mss==5.1.0
Pillow==7.1.2
pyperclip==1.8.0
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyscreenshot==2.2
pytesseract==0.3.4
py-notifier==0.1.0
wintoast10==0.9; platform_system == "Windows"  # required for py-notifier if the operating system is Windows
